.container {
    max-height: 100vh;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto 1fr auto;
}

.header {
    display: grid;
    grid-row-start: 1;
    grid-column: span 3;
}

.footer {
    display: grid;
    grid-row-start: 3;
    grid-column: span 3;
}

.leftBar {
    display: grid;
    grid-row-start: 2;
}

.rightBar {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 3;
}

.main {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 2;
    background-color: #E8ECD3;
    max-height: fit-content;
    overflow-y: auto;
}
