.options {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    background-color: #22162A;
}

.button {
    color: #B9B5BB;
    width: 100%;
    border-style: none;
    background-color: transparent;
    padding: 20px 30px 20px 30px;
    display: flex;
    flex-direction: row;
}

.button:hover {
    color: #FBFCF6;
}

.button:hover .image {
    fill: #FBFCF6;
}

.buttonSelected {
    width: 100%;
    border-style: none;
    background-color: transparent;
    padding: 20px 30px 20px 30px;
    color: #B24C41;
    display: flex;
    flex-direction: row;
}

.image {
    margin-right: 10px;
    margin-top: -9px;
}