.options {
    display: flex;
    flex-direction: column;
    background-color: #22162A;
}

.button {
    color: #B9B5BB;
    width: 100%;
    border-style: none;
    background-color: transparent;
    padding: 20px 30px 20px 30px;
}

.button:hover {
    color: #FBFCF6;
}